// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin:0px auto;
  height:100%;
}
html{overflow-y:scroll;}

body {
  margin:0px auto;
}

body,td,th {
  font-family: 'altera_bold';
  /* color: #000; */
  font-size: 12px;
}

a, a:visited{color:#999; text-decoration:none;}
a:hover{color:#aaa; text-decoration:none;}

hr, br{
  clear: both;
}
hr{
  margin: 10px 0;
  border-bottom:1px solid #ddd;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  padding:0 5px; border-radius:3px; margin:5px;
  background-color:#00B51A; overflow:hidden; display:inline-block;
  text-align:center; font-weight:bold; color: white;
}
.flash_message{
  position: absolute; top:50px; left:200px; padding:10px; border-radius:3px; margin:5px;
  background-color:#00B51A; overflow:hidden; display:inline-block;
  text-align:center; font-size:15px; z-index:10; font-weight:bold; color: white;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.js-form{
  border:1px #B2B2B2 solid; background-color:rgba(0,0,0, 0.5); padding:20px;
  &.white{
    background-color:rgba(white, 1);
    transition: 0.5s;
    text-align: center;
    padding:50px; color:#42C147;
  }
}